.EpisodeDetails {
    padding: 3px;
    margin: 10px;
    background-color: #eeeeee;
}

.Title {
    font-weight: bold;
    text-align: center;
    margin: 2px;
}

.Img {
    width: 100%;
    height: auto;
}

.Top {
    margin: 0px 5px;
    display: flex;
    justify-content: space-between;
}

.Overview {
    magin: 0px 5px;
    padding: 0px;
}

/*.Top img {*/
    /*height: 80px;*/
    /*flex-grow: 2;*/
/*}*/

/*.ScoreIndicator {*/
    /*flex-grow: 1;*/
    /*height: 80px;*/
/*}*/