.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    margin: 0px 5px;
    border-radius: 3px;
}
.formRow {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.formRow label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.formRow button {
    background: gray;
    color: white;
    border: 0;
}

.textBox {
    flex: 2;
    padding: .5em;
}

.selectionBox {
    flex: 1;
    padding: .5em;
}

.errorMessage {
    padding: .5em;
    color: red;
    font-weight: bold;
}
