.Title {
    margin: 0 auto 10px auto;
    text-align: center;
}

.Footer {
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    background-color: lightgreen;
}

.Footer u {
    margin: 0 5px;
    cursor: pointer;
    color: #531883;
}
.Picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.ReactFileStack {
    border: #531883;
    justify-content: center;
    width: fit-content;
}

.AvatarHeight {
    display: flex;
    height: 100px;
}

.Error {
    color: red;
    font-weight: bold;
}