.Title {
    margin: 0 auto;
    text-align: center;
}

.Footer {
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    background-color: lightgreen;
}

.Footer button {
    margin: 0px 5px;
}

