.SideDrawer {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    max-width: 70%;
    height: 100%;
    z-index: 200; /* side drawer should be above backdrop */
    background-color: lightgreen;
    padding: 32px 16px;
    box-sizing: border-box; /* adjust the size to the padding */
    transition: transform 0.3s ease-out; /* transistion property reacts to changes of the transform property below
     and animates them over 300 ms with the ease-out timing function*/
}

.SideDrawerBottom {
    background-color: white;
    top: 20%;
    height: 80%;
}

@media (min-width: 500px) { /* if device width exceeds 500px, then the sideDrawer should not be visible*/
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0); /* shift side in position set above (0,0) */
}

.Close {
    transform: translateX(-100%); /* shift it to the left */
}

.AvatarHeight {
    height: 20%;
    margin-bottom: 32px;
}