.AddSeries {
    margin: auto 5px;
    padding: 5px;
}

.AddSeries table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.AddSeries th {
    background-color: cornflowerblue;
    text-align: left;
    padding: 5px;
}

.AddSeries td {
    padding: 1px 5px;
    text-align: left;
    cursor: pointer;
}

.AddSeries tr:nth-child(even) {
    background-color: #f2f2f2;
}