.cardBody {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
}

.cardMain {
    flex: 1 0 auto;
    display: flex;
}

.cardDetails {
    flex: 1
}
.image {
    order: -1
}
/**
 = ======
*/
* {
    box-sizing: border-box;
}

.image,
.forward {
    background: #808080;
    padding: 10px;
    width: 20vw;
}
.cardHeader,
.cardFooter {
    background: rgba(0,0,0,0.18);
    height: 10vh;
    padding: 10px;
}
.cardDetails {
    padding: 10px;
}



@media all and (min-width: 300px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 600px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

body {
    padding: 2em;
}
