.Numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 90%;
    padding: 10px;
}

.Number {
    box-shadow: 0 2px 1px #ccc;
    margin: 5px 5px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}